.products-item {
  margin: $spacing_16 0;
  background-color: #fff;
  border: 1px solid rgb(231, 231, 231);
  border-radius: $spacing_16 / 4;
  cursor: pointer;

  .card {
    padding: 0 $spacing_16;
    justify-content: space-between;

    .card-container {
      min-width: 70%;
      .card-image > img {
        height: 180px;
        width: 180px;
        border-radius: $spacing_16 / 4;
        margin-right: $spacing_16;
      }
      .card-info {
        justify-content: center;
        .card-price {
          margin-bottom: $spacing_32;
        }
        .card-shipping {
          height: 25px;
          width: 25px;
          margin: 4px;
        }
      }
    }
    .card-location {
      align-self: center;
      margin-bottom: $spacing_32 * 1.5;
      text-align: center;
      width: 30%;
    }
  }
}
