.products-container {
  .products-list {
  }
}

.product {
  margin: $spacing_16 0;
  background-color: #fff;
  border: 1px solid rgb(231, 231, 231);
  border-radius: $spacing_16 / 4;
  cursor: pointer;

  .product-card {
    padding: 0 $spacing_16;
    justify-content: space-between;

    .product-card__container {
      min-width: 70%;
      .product-card__image > img {
        height: 180px;
        width: 180px;
        border-radius: $spacing_16 / 4;
        margin-right: $spacing_16;
      }
      .product-card__info {
        justify-content: center;
        .product-card__price {
          margin-bottom: $spacing_32;
        }
        .product-card__shipping {
          height: 25px;
          width: 25px;
          margin: 4px;
        }
      }
    }
    .product-card__location {
      align-self: center;
      margin-bottom: $spacing_32 * 1.5;
      text-align: center;
      width: 30%;
    }
  }
}
