@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

@import "variables";
@import "header";
@import "layout";
@import "footer";

@import "product";

@import "card";
@import "form";
@import "breadcrumb";

html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: $white;
}

.ml-body__main-content {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: $font-xl;
}

h2 {
  font-size: $font-lg;
}

h3 {
  font-size: $font-md;
}

h4 {
  font-size: $font-sm;
}

p {
  font-size: $font-xs;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
