$yellow: #ffe600;
$black: #333;
$dark_gray: #666;
$gray: #999;
$white: #eee;
$blue: #3483fa;

$desktop: 1124px;
$tablet: 768px;
$phone: 480px;

$spacing_16: 16px;
$spacing_32: 32px;

$font-xs: 14px;
$font-sm: 16px;
$font-md: 24px;
$font-lg: 28px;
$font-xl: 46px;

$centerContent: 0 auto;
